@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-indicators li {
    background-color: red;
    background-color: red;
}
  
.carousel-indicators .active {
    background-color: red;
}