.carousel{
    position: relative;
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

.carouselButton{
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
}
.left{
    left: -30px;
    font-size: 3rem;
}
.right{
    right: -30px;
    font-size: 3rem;
}

.trackContainer{
    height: 75vh;
    width: 100%;
    overflow: hidden;
}
.trackContainer img{
    max-width: 55%;
    object-fit: cover;
}
.track{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
.track p{
    font-size: x-large;
}
.slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.indicator{
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 10px;
    cursor: pointer;
}
.currentIndicator{
    background: rgba(255, 255, 255, 0.9);
}
a:link{
    text-decoration: none;
}

.imageContainer{
    height: 60%;
}

.imageContainer img{
    width: 100%;
    height: 100%;
}

@media (max-width: 1031px) {
    .trackContainer img{
        max-width: 90%;
        object-fit: cover;
    }

}

@media (max-width: 452px) {
    .track p{
        font-size: 20px;
    }
}

