.container{
    height: 80vh;
    width: 100%;
    padding-top: 10%;
    background-image: url('../images/COLOURlovers.com-Gothic_Wallpaper.jpg');
    color: white;
    text-shadow: 
    0.025em 0.025em 0 #CCCCCC,
    0.050em 0.050em 0 #75FF33,
    0.075em 0.075em 0 #14CC4C,
    0.1em 0.1em 0 #296D99;
    text-align: center;

}




.linkedinA{
    font-size: 8rem;
}

.gMailA{
    font-size: 8rem;
    margin-left: 200px;
}

.gMailA:hover{
    cursor: pointer;
}


.gitHubA{
    font-size: 8rem;
}

.downloadA{
    font-size: 8rem;
    margin-left: 200px;
}

.textBottom{
    margin-top: 5%;
}

/* Media Query: For Tablets or Smaller */
@media screen and (max-width: 1000px){
    .linkedinA{
        font-size: 4rem;
    }
    
    .gMailA{
        font-size: 4rem;
        margin-left: 100px;
    }
    
    .gMailA:hover{
        cursor: pointer;
    }
    
    
    .gitHubA{
        font-size: 4rem;
    }
    
    .downloadA{
        font-size: 4rem;
        margin-left: 100px;
    }
    
    .textBottom{
        margin-top: 40%;
    }
}