
.container{
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, .7);
}

.container ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.container ul li{
    margin: 0 1rem;
    padding: 1rem;
}

.container ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.container ul li a:hover{
    color: skyblue;
    cursor: pointer;
}


@media (max-width: 597px) {
    .container{
        display: none;
    }
}
