.container{
    height: 100vh;
    width: 100%;
    align-items: center;
    background-image: url('../images/COLOURlovers.com-Gothic_Wallpaper.jpg');
    padding-top: 10%;
}

.container canvas{
    height: 100vh;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.container div h1{
    text-align: center;
    font-size: 50px;
    position: relative;
    z-index: 1;
    color: white;
    text-shadow: 
    0.025em 0.025em 0 #CCCCCC,
    0.050em 0.050em 0 #75FF33,
    0.075em 0.075em 0 #14CC4C,
    0.1em 0.1em 0 #296D99;
}

.homeText{
    display: flex;
    justify-content: center;
}
